.container {
    display: flex;
    flex-direction: column;
  }
  
  .input {
    width: 200px;
  }
  .submit-btn {
    width: 208px;
    margin-top: 20px;
  }
  
  .err {
    color: crimson;
    text-align: end;
    width: 200px;
    margin: 0px;
  }
  